*{
    margin: 0;
    padding: 0;
}

.header {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Empurra o conteúdo para as extremidades */
  width: 100%;
  box-sizing: border-box;
}

#mysfLogo {
  height: 80px; /* Ajuste conforme necessário */
  width: auto;
  transition: background-color 0.3s;
}

#navLogo {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#navImgButton{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px; /* Ajuste o padding para um tamanho mais uniforme */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navList {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 50px;
}

.navButton {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .navList {
    flex-direction: column;
    text-align: center;
  }
}
