<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="stylesheet" href="/styles/header.css">
  <title>Essays and Articles</title>
</head>
<body>
  <header class = "header">

    <nav class="navBar">
        
      <ul class = "navList">
            
          <li class = "navItem" id ="navLogo">
              <a class = "navButton" href="/">
                <img src="/BackEnd/blog_project/public/images/mysfLogo.png" alt="MYSF Logo" id ="mysfLogo">
              </a>
            </li>
            
            <li class = "navItem">
              <a class = "navButton" href="/"> Home </a>
            </li>
            
            <li class = "navItem">
              <a class = "navButton" href="/createEssay"> Create Essays </a>
            </li>
            
            <li class = "navItem">
              <a class = "navButton" href="/yourEssays"> Your Essays </a>
            </li>
            
            <li class = "navItem">
              <a class = "navButton" href="/login"> Login </a>
            </li>

            <li class = "navItem">
              <a class = "navButton" href="/register"> Register </a>
            </li>

      </ul>
    </nav>
</header>