<%- include("partials/header.ejs") %>


<h1> Essays </h1>
<ul class = "essayList">
  <% for( let index = 0; index < locals.essays.length; index++ ) { %>
  
      <li class="essayItem"> <%= essays[index] %> </li> 
    
  <% } %>
</ul> 





<%- include("partials/footer.ejs",{year: new Date().getFullYear()}) %>